
/* CONTENT */

.content {
	width: 100%;

}

/* PHOTOSLIDER */

.photoSlider {
	height: 1000px;
}

.photos {
		height: 100vh;
		padding: 0;
		overflow-y: hidden; 
		position: fixed;
		top: -20px;
		z-index: -1;

}

.photos li {
	position: relative;
}

.photos li div {
	position: relative;
	width: 100%;
	height:100vh;
	display: inline-block;
}

.photos li div h2 {
	position: relative;
	top: 200px;
	color: white;
	font-family: "EB Garamond", serif;
	font-size: 60px;
}

.photos li div a {
	position: relative;
	top: 200px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	text-decoration: underline;
}

.img1 {
	background: url(../img/image_135.jpg);

}

.img2 {
	background: url(../img/image2.jpg);
	background-size: cover;
} 

.img3 {
	background: url(../img/image5.jpg);
	background-size: cover;
	background-position-y: -395px; 
}
.img4 {
	background: url(../img/image4.jpg);
	background-size: 140%;


}

.photonav {
  	padding-left: 46.2%;
  	position: fixed;
  	top: 325px;
  	z-index: 0;
}

.photonav li i {
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	font-size: 15px;
	box-shadow: solid 0 0 3px rgba(0, 0, 0, 0.3);
}

.photonav li i:hover {
	color: #000;
}

.photonav li {
	margin-left: 10px;

}

#black {
	color: black;
}

/* Section about */

section {
	width: 100%;
	height: 800px;
	background-color: white;
}

.aboutpavel {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.nadpisabout {
	height: 50px;
	padding-top: 20px;
}

.text {
	margin-top: 20px;
	width: 700px;
	text-align: left;
	margin-top: 9px;
	line-height: 1.2em;
}

.shadow {
	text-shadow: 4px 4px 2px black;
}

.aboutgallery {
	height: auto;
	padding: 30px 0;
}

.aboutgallery p {
	width: 50vw;
	margin: 30px auto;
}

.lastonne {
}

#bigger {
	font-size: 18px;
	font-weight: 700;
	margin-top: 30px;
}

.und {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	float: left;
	margin-bottom: 18px;
	padding-bottom: 10px;
	border-bottom: 2px solid #BA7A23;
}

.aboutpavel p a:hover {
	border-bottom: 2px solid #444;
}

.news {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.news ul {
	height: 300px;
	padding-left: 20px;
}

.news ul li {
	list-style-type: circle;
	text-align: left;
	float: left;
	display: list-item;
	margin-bottom: 10px;
}

.last-blogs {
	height: 20px;
}

/* GALLERY */

.gallery {
	margin-top: 120px;
	margin-bottom: 50px;
	width: 92vw;
}

.gallery li {
	margin: 4px;
	cursor: pointer;
}

.galleryheader {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;

}

.overlay {
	background: rgba(0, 0, 0, 0.7);
	z-index: 5;
	height: 100vh;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	display: none;
	overflow: hidden;
}

.overlay2 {
	display: none;
}

span {
	cursor: pointer;
}

.close {
	z-index: 6;
	position: absolute;
	right: 2%;
	font-size: 50px;
	color: white;

}

.imgUp {
	 margin: auto;
	position: absolute;
	z-index: 6;	
	width: auto;
	min-height: 80vh; 
	left: 22%; 
	top: 10%;
	transform: translate(0%,0%);
}

.imgUp {
		max-width: 55.9vw;
		height: auto;
		min-height: auto;
		top: 20%;

	}

.left {
	z-index: 6;
	position: absolute;
	left: 5%;
	top: 20%;
	font-size: 50px;
	color: white;
}

.right {
	z-index: 6;
	position: absolute;
	right: 5%;
	top: 20%;
	font-size: 50px;
	color: white;
}

.comentary {
	z-index: 6;
	position: absolute;
	left: 22%;
	min-height: 40vh;
	width: 55.9vw;
/*	top: 100%;*/
	height: auto;
	padding-bottom: 20px;
	background-color: white; 
}

.comentary h1 {
	float: left;
	padding-left: 20px;
	font-weight: 200;
	font-size: 20px;
	margin-right: 100%;
}

.coment {
	float: left;
	padding-left: 20px;
	width: 90%;
	text-align: left;
	margin-right: 10%;
}
.coment a {
	font-size: 10px;
}

.texty {
	border: none;
	border-bottom: 1px solid grey; 
	width: 70%;
	outline: none;
	height: 25px;
}

.submit {
	width: 10%;
	outline: none;
	cursor: pointer;
	height: 25px;
	border: 1px solid grey;
	background-color: white;
	text-transform: capitalize;
}

.plslogin {
	margin: auto;
}

/* ABOUT */ 

.page-header {
	margin-top: 170px;
	font-size: 30px;
	font-family: "EB Garamond", serif;
	font-weight: 400;
}

.page-media{
	width: 600px;
	height: auto;
	margin-bottom: 100px;
}

.container {
/*	height: 800px;*/
}

.leftsite,.rightsite {
	width: 66%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 100px;
}


/* LOGIN */

.login {
	padding-top: 150px;
}

.contact {
	padding-bottom: 70px;
}


.button2 {
	border: 1px solid #999;
	height: 34px;
	width: 150px;
	padding: 9px;
	letter-spacing: 1.5px;
	background: #eee;
	text-transform: uppercase;
	color: #444;
}

/* ADMIN */

.adminform {
	margin-top: 200px;
	margin-bottom: 100px;
}

.w160 {
	width: 170px;
}

.vymazat {
	width: 400px;
	display: inline-block;
	margin: 0 auto;

}

.button4 {
	border: 1px solid #999;
	/*height: 34px;
	width: 150px;
*/	padding: 9px;
	margin-top: 3px;
	letter-spacing: 1.5px;
	background: #eee;
	text-transform: uppercase;
	color: #444;

}

/* CONTACT */

.contactlist li{
	text-align: left;
	display: list-item;
	margin-left: 30%;
	list-style-type: square;
}

/* adaptive */

@media screen and (max-width: 900px){
	.overlay {
		height: 100%;
		position: fixed;
		width: 100%;
	}

	section {
		height: 170vh;
	}

	.imgUp {
		max-width: 55.9vw;
		height: auto;
		min-height: auto;
		top: 20%;

	}

	.commentary {
		top: 90%;
		position: absolute;
	}

	.news {
		margin: 10px auto;
		padding: 0 200px;
	}


}
/*
@media screen and (orientation: landscape){
	.photoSlider {
		height: 100vh;
	}

	section {
		height: 260vh;
	}	
}

@media screen and (max-height: 450px){

	section {
		height: 260vh;
	}	
}

@media screen and (orientation: portrait){
	.photoSlider {
		height: 50vh;
	}

	.news {
		margin: 10px auto;
		padding: 0 200px;
	}

	section {
		height: 70vh;
	}	
}
*/
@media screen and (min-width: 1500px){

.leftsite {
	float: left;
	width: 400px;
	text-align: right;
	margin-left: 50px;
	line-height: 30px;
}


.rightsite {
	margin-right: 50px;
	float: right;
	width: 400px;
	text-align: left;
	line-height: 30px;
}

	section {
		height: 800px;
	}	
 
}